<td style="padding-top: 0;">
    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner"
           style="border-bottom: 1px solid #bbbbbb; margin-top: -5px;">
        <tbody>
        <tr>
            <td rowspan="5" style="width: 55%;"></td>
            <td style="font-size: 14px; line-height: 18px; color: #666666;  padding-bottom: 10px;">
                Sub-Total:
            </td>
            <td style="font-size: 14px; line-height: 18px; color: #666666; width: 130px; padding-bottom: 10px; text-align: right;">
                {{ order.currency }} {{ order.total_amount_before_tax }}
            </td>
        </tr>
        <tr>
            <td style="font-size: 14px; color: #666666; padding-bottom: 10px">
                Shipping Fee:
            </td>
            <td style="font-size: 14px; color: #666666; padding-bottom: 10px; text-align: right;">
                {{ order.currency }} 0.00
            </td>
        </tr>
        <tr>
            <td style="font-size: 14px; line-height: 18px; color: #666666; padding-bottom: 10px; border-bottom: 1px solid #eeeeee;">
                Taxes:
            </td>
            <td style="font-size: 14px; line-height: 18px; color: #666666; padding-bottom: 10px; border-bottom: 1px solid #eeeeee; text-align: right;">
                {{ order.currency }} {{ order.total_tax }}
            </td>
        </tr>
        <tr>
            <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; padding-top: 10px; padding-bottom: 10px;">
                Order Total
            </td>
            <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; padding-top: 10px; padding-bottom: 10px; text-align: right;">
                {{ order.currency }} {{ order_total }}
            </td>
        </tr>
        </tbody>
    </table>
</td>